body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #676869;
    color: white;
    padding: 20px;
    text-align: center;
}

.descripcio {
    font-size: 1.1em;
    margin-top: 10px;
}

#benvinguda {
    padding: 15px;
    text-align: center;
    background-color: rgb(164, 160, 160);
    font-weight: bold;
}

#controles {
    padding: 10px;
    text-align: center;
    background-color: #d4a6a6;
}

#lista {
    padding: 10px;
    text-align: center;
    background-color: #f5cfcf;
}

#map {
    height: 500px;
    margin: 20px;
    border: 2px solid black;
}

/*Para las tarjetas segun su tipo*/
.tarjeta-espai {
    background-color: #21e5f3;
    padding: 10px;
    margin: 10px;
}

.tarjeta-atraccion {
    background-color: #3ee370;
    padding: 10px;
    margin: 10px;
}

.tarjeta-museo {
    background-color: #cbac3d;
    padding: 10px;
    margin: 10px;
}

/*Este es el diseño para el boton eliminar en cada tarjeta*/
button {
    margin-top: 5px;
    background-color: #c62828;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
